
body{
    background-color: #F5F5F5;
    width: 1600px;
    
}
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.nav-container ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px 20px 160px;    
    padding-left: 0;
}
.nav-title{
    font-size: 32px;
    color: #0E0E0E;
    font-weight: bold;    

}

 ul  .nav-btn{
    color:#006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    width: 116px;
    height: 52px;
    font-size: 18px;
    font-weight: 600;
}
.banner{
    display: flex;
    margin:0px 160px;
    background-color: #C6E4D6;
    justify-content: space-between;
    gap: 64px;
}
.banner-image{
    padding:80px 59.99px 80px 0px ;
    width: 474.03px;
    height: 400px;
}
.banner-container{
    padding: 117px 10px 117px 59.99px;
}
.banner-title{
    font-size: 24px;
    font-weight: 500;
    color:rgba(14, 14, 14, 0.5);
    margin:0;
}
.banner-description{
    font-size: 56px;
    font-weight: 700;
    color:#0E0E0E;
    margin:16px 0 24px 0;
}
.banner-btn{
    width: 270px;
    height: 56px;
    text-align: center;
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color:#006A50;
    border-radius: 8px;
    border: none;
}